* {
    box-sizing: border-box;
}
header{
    width: 100%;
    position: relative;
}
.btn-social-icon{
    font-size: 0.8em;
}
.media-social{
    position: relative;
}
.icon-social{
    position: absolute;    
    bottom: 1em;
}
.search{
    padding-top: 15px;
}
.bg-info{
    padding: 10px;
    max-width: 100%;
    max-height: auto;
    background-color: #8e8e8ef5 !important;
}
.main-content{
    margin-top: 30px;
    margin-bottom: 15px;
}
.main-text{
    margin-bottom: 15px;
}
.img-thumbnail{
    margin-bottom: 5px;
}
::-webkit-input-placeholder {
    font-size: 1em;
}
:-moz-placeholder { /* Firefox 18- */
    font-size: 1em;
}
::-moz-placeholder {  /* Firefox 19+ */
    font-size: 1em;
}

/* Overriding styles */
::-webkit-input-placeholder {
    font-size: 0.8em !important;
}
:-moz-placeholder { /* Firefox 18- */
    font-size: 0.8em !important;
}
::-moz-placeholder {  /* Firefox 19+ */
    font-size: 0.8em !important;
}
.bg-dark{
    padding-top:5px;
}
.title{
    text-decoration: underline;
    font-size: 1.1em;
}
.text{
    font-size: 0.9em;
    color: RGB(0,0,0);
}
@media (max-width: 425px) {
    .btn-social-icon{
        font-size: 0.6em;
    }
    .align-self-center{
        margin-top: 10px !important;
    }
}
@media (max-width: 320px) {
    .btn-social-icon{
        font-size: 0.5em;
    }
}
@media (min-width: 1440px) {
    .btn-social-icon{
        font-size: 1em;
    }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

@media (max-width: 768px) {
    .text-uppercase{
        text-transform: uppercase !important;
        font-size: 0.7em;
    }
    .font-text{
        text-align: center;
        font-size:0.7em;
        margin-bottom: 4px;
    }
    .text-footer{
        text-align: right;
        font-size: 0.6em;
    }
    .navbar-toggler{
        font-size: 0.75em !important;
    }
    a.nav-link{
        font-size: 0.8em !important;
    }
    .font-info{
        font-size:0.7em;
        margin-bottom: 3px;
    }
    ::-webkit-input-placeholder {
        font-size: 0.7em !important;
    }
    :-moz-placeholder { /* Firefox 18- */
        font-size: 0.7em !important;
    }
    ::-moz-placeholder {  /* Firefox 19+ */
        font-size: 0.7em !important;
    }
    .title{
        font-size: 0.9em;
    }
    .text{
        font-size: 0.7em;
    }
}
@media (min-width: 769px) {
    a.nav-link{
        font-size: 0.9em !important;
    }
    .text-uppercase{
        text-transform: uppercase !important;
        font-size: 0.9em;
    }
    .font-text{
        text-align: center;
        font-size:0.8em;
        margin-bottom: 2px;
    }
    .text-footer{
        text-align: right;
        font-size: 0.7em;
    }
    .font-info{
        font-size:1em;
        margin-bottom: 10px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}