<app-header></app-header>
<app-menu></app-menu>
<app-search></app-search>
<div class="container main-content">
  <div class="row">
    <div class="col-md-3 banner order-last order-md-first order-sm-first">
      <app-banner></app-banner>
    </div>
    <div class="col-md-6 col-sm-9 main-text">
      <div class="card text-center border-0">
        <div class="card-body">
          <section class="section-content">
            <h6 class="text-title">ANUNCIE AQUI</h6>
            <p class="text-doc">A Belenzinho SP é uma ferramenta de busca local, site responsivo navegável por qualquer dispositivo (desktops, celulares, tablets).  Sendo a primeira ferramenta do gênero, exclusiva do bairro, inédita também é nossa interação virtual.<br><br>Aprendemos em 20 anos de internet como se conquistar um cliente, não apenas ter um número a mais nas estatísticas de visitação. Apenas 4 banners são expostos na página principal, para que a mensagem atinja seu objetivo.<br><br>Empresas, produtos e serviços são facilmente localizados, assim como prestadores de serviço autônomos. Resultados de busca são exibidos em página clean, apenas um anunciante por categoria (ex.: restaurantes, sapatos, uniformes e outros).<br><br>Nosso objetivo é aproximar clientes em potencial dos produtos e serviços oferecidos no bairro do Belém, facilitando ao público sua localização e, com isso, fomentar negócios.

</p><br>
            <h6 class="text-title">DIFERENCIAIS</h6>
            <p class="text-doc">1) página limpa: a mensagem atingindo o objetivo;
 2) poucos banners na página inicial, mais destaque para sua campanha;
 3) ofertas geolocalizadas, exclusivas do Belenzinho;
 4) Case sensitive: display de banners e janelas dinâmicas relacionados à busca;
 5) apoio à campanhas também nas redes sociais: Youtube, Facebook, Twitter, Instagram e whatsapp

 Conheça nossos serviços</p><br>
            <h6 class="text-title">QUER VENDER NO BELENZINHO?</h6>
            <a class="link-fale-conosco" routerLink="/faleConosco"><p class="text-link">Fale Conosco!</p></a>
            <p class="text-doc">Campanha promocional:</p>
            <p class="text-doc">Anúncios de texto e gráficos</p>
            <p class="text-doc">Vídeos promocionais</p>
            <p class="text-doc">Banners animados</p><br>
            <h6 class="text-title">REDES SOCIAIS</h6>
            <p class="text-doc">Sua campanha terá o apoio das redes sociais: páginas, vídeos e imagens combinando gráficos e textos que incentivam o compartilhamento viral. 
A qualidade de seu produto mostrada de forma inteligente e bem humorada, em textos concisos e imagens interessantes, fotos ou ilustrações, proporcionam uma experiência única ao potencial cliente.</p><br>
            <h6 class="text-title">RELACIONAMENTOS</h6>
            <p class="text-doc">O sucesso de qualquer empreendimento, hoje mais do que nunca, depende de relacionamentos pessoais equilibrados.  Quem teve uma boa experiência ao se relacionar com você, sua empresa ou seus funcionários.. vai compartilhar isso.</p>
            <p class="font-mention">"No bom negócio, todos ganham!"</p>
          </section>
        </div>
      </div>
    </div>
    <div class="col-md-3 banner_right order-last order-md-last order-sm-last">
      <app-banner-main></app-banner-main>
    </div>
  </div>
</div>
<app-info></app-info>
<app-footer></app-footer>