<app-header></app-header>
<app-menu></app-menu>
<app-search></app-search>
<div class="container main-content">
  <div class="row">
    <div class="col-md-3 banner">
      <app-banner></app-banner>
    </div>
    <div class="col-md-6 main-text">
      <div class="card text-center" style="max-height: 400px; overflow-y: scroll">
        <div class="card-body">
          <table style="text-align: left; width: 80%; margin-left: auto; margin-right: auto;" border="0" cellpadding="2"
            cellspacing="2">
            <tbody>
              <tr style="font-family: Verdana;" align="center">
                <td style="vertical-align: top;"><small><b>ANUNCIE AQUI<br>
                    </b></small></td>
              </tr>
              <tr align="center">
                <td style="vertical-align: top;"><br>
                </td>
              </tr>
              <tr style="font-family: Verdana;" align="justify">
                <td style="vertical-align: top;"><small>Oferecendo
                    busca completa local, o Portal do Belenzinho é o espaço perfeito para
                    aumentar a visibilidade de sua empresa.. e gerar mais negócios</small>!<br>
                </td>
              </tr>
              <tr style="font-family: Verdana;">
                <td style="vertical-align: top;"><br>
                </td>
              </tr>
              <tr style="font-family: Verdana;">
                <td style="vertical-align: top;"><small><span style="font-weight: bold;">DIFERENCIAIS</span><br>
                  </small></td>
              </tr>
              <tr style="font-family: Verdana;">
                <td style="vertical-align: top;"><small>1) página limpa, sua mensagem atinge o objetivo;<br>
                    2) poucos banners na página inicial, mais destaque para sua campanha;<br>
                    3) ofertas geolocalizadas: ofertas exclusivas do Belenzinho;<br>
                    4) AdSense: display de banners relacionados à busca;<br>
                    5) apoio à campanhas também nas redes sociais: Youtube, Facebook, Twitter e Instagram.<br>
                  </small></td>
              </tr>
              <tr>
                <td style="vertical-align: top;"><small style="font-weight: bold;"><span style="font-family: Verdana;"><br>
                      QUER VENDER NO BELENZINHO?</span></small><br>
                  <div style="text-align: center;"><small style="font-family: Verdana; color: rgb(47, 119, 172); font-weight: bold;">Fale
                      Conosco</small><span style="font-family: Verdana; color: rgb(47, 119, 172); font-weight: bold;">!</span><br>
                  </div>
                </td>
              </tr>
              <tr style="font-family: Verdana;">
                <td style="vertical-align: top;"><small>
                  </small><small>
                  </small><small>
                  </small><small>
                  </small>
                  <p class="MsoNormal"><small>Campanha promocional:<br>
                      Anúncios de texto e gráficos<br>
                      Vídeos promocionais<br>
                      Banners animados</small></p>
                  <p style="font-weight: bold;" class="MsoNormal"><small>APOIO VIA REDES SOCIAIS</small></p>
                  <p class="MsoNormal"><small>Reiteramos sua presença digital, também na internet. A
                      qualidade de seu produto mostrada de forma inteligente e bem humorada,
                      em textos concisos e imagens interessantes, fotos ou ilustrações.</small></p>
                  <p style="font-weight: bold;" class="MsoNormal"><small>RELACIONAMENTOS</small></p>
                  <p class="MsoNormal"><small>O sucesso de qualquer empreendimento hoje, depende de relacionamentos
                      pessoais equilibrados.&nbsp; Quem teve uma boa experiência ao se relacionar com vocÊ, sua empresa
                      ou seus funcionários.. vai compartilhar isso.</small><br>
                  </p>
                  <p style="text-align: center;" class="MsoNormal"><small>"No bom negócio, todos ganham!"</small></p>
                  <small><br>
                  </small>
                </td>
              </tr>
              <tr>
                <td style="vertical-align: top;"><small> </small><br>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-3 banner_right">
      <app-banner-main></app-banner-main>
    </div>
  </div>
  <app-info></app-info>
  <app-footer></app-footer>