<header class="container">
  <div class="row">
    <div class="col-5 col-sm-7 col-md-8 col-lg-9">
      <img class="img-fluid" src="assets/img/logo_belenzinhosp.jpg" alt="Portal Belenzinho SP"> 
    </div> 
    <div class="col-7 col-sm-5 col-md-4 col-lg-3 media-social">
      <div class="container icon-social">
        <a class="btn btn-social-icon">
          <span class="fa fa-facebook" ></span>
        </a>
        <a class="btn btn-social-icon">
          <span class="fa fa-youtube-play"></span>
        </a>
        <a class="btn btn-social-icon">
          <span class="fa fa-twitter"></span>
        </a>
        <a class="btn btn-social-icon">
          <span class="fa fa-google-plus"></span>
        </a>
      </div>
    </div>
  </div>
</header>