<footer class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="text-center font-info text-uppercase"><strong>Portal Belenzinho SP</strong><br>&nbsp;São Paulo - SP (11) 96125-8866 WhatsApp&nbsp;</p>
        <p class="font-text">Fale Conosco&nbsp;</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="text-footer">2019© MRodriguesTI - Todos os direitos reservados</p>
      </div>
    </div>
  </div>
</footer>