<footer class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="text-center font-info"><strong>Portal Belenzinho SP</strong><br>&nbsp;São Paulo - SP (11) 96125-8866 <a class="btn btn-social-icon" target="_blank" href="https://wa.me/5511961258866">
          <span class="fa fa-whatsapp icon-whatsapp"></span>
        </a></p>        
        <a class="font-text" style="display:block; color: #FFF;" routerLink="/faleConosco">Fale conosco</a>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="text-center" style="font-size: 0.8em; margin-top: 15px">Acesse nosso termo de   
          <a class="font-text" style="color: #FFF; text-decoration: underline" routerLink="/privacidade">Privacidade</a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="text-footer">2019© MRodriguesTI - Todos os direitos reservados</p>
      </div>
    </div>
  </div>
</footer>