<app-header></app-header>
<app-menu></app-menu>
<app-search></app-search>
<div class="container main-content">
  <div class="row">
    <div class="col-md-2 col-sm-3 banner">
      <app-banner></app-banner>
    </div>
    <div class="col-md-8 col-sm-9 main-text">
      <div class="card text-center border-0">
        <div class="card-body">
          <section class="section-content">
            <h6 class="text-title">GESTÃO DE REDES SOCIAIS</h6>
            <p class="text-doc">O Perfil Digital aumenta a visibilidade de sua empresa.. e gera negócios</p>
            <p class="text-doc">Sua presença na web deve ser profissional e marcante, reiterando a missão
              da empresa e a qualidade de seu produto.</p>
            <p class="text-doc">A idéia é exibir produtos ou serviços de forma inteligente e bem humorada, em textos
              concisos e imagens interessantes, fotos ou ilustrações.</p>
            <p class="text-doc">Analistas de Redes Sociais otimizam seu
              desempenho na web, criando relevância ao seu conteúdo, através de
              páginas e blogs direcionadas ao público consumidor.</p><br>
            <h6 class="text-title">ANÚNCIOS DE TEXTO</h6>
            <p class="text-doc">Criamos artigo sobre seu produto ou
              idéia, mostrando aspectos novos ou inusitados que agreguem valor e
              interesse.</p>
            <p class="text-doc text-align-center">tratamento e adaptação de imagens e textos para web</p>
            <p class="text-doc text-align-center">vídeos promocionais</p>
            <p class="text-doc text-align-center">banners gráficos animados</p>
            <br>
            <h6 class="text-title">COMUNICAÇÃO DIGITAL</h6>
            <p class="text-doc">Planners obsesrvam o cotidiano das pessoas e pensam em ações
              para elas. Um bom relacionamento com o consumidor é fundamental! </p>
            <p class="text-doc">Envolver funcionários e
              colaboradores em sua campanha também é muito importante. Não se pode
              correr risco de gastar milhares de reais e ter seu potencial cliente
              mal atendido por um funcionário mal treinado.</p>
            <div class="row">
              <div class="col-6">
                <h6 class="text-title">Logotipos</h6>
                <p class="text-doc text-item">Cartão de visitas</p>
                <p class="text-doc text-item">Banners</p>
                <p class="text-doc text-item">Flyers</p>
              </div>
              <div class="col-6">
                <h6 class="text-title">Adesivos</h6>
                <p class="text-doc text-item">Festas Temáticas</p>
                <p class="text-doc text-item">Eventos</p>
                <p class="text-doc text-item">Personlização de Frota</p>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-sm-3 banner_right">
      <app-banner-main></app-banner-main>
    </div>
  </div>
</div>
<app-info></app-info>
<app-footer></app-footer>