<app-header></app-header>
<app-menu></app-menu>
<app-search></app-search>
<div class="container main-content">
  <div class="row">
    <div class="col-md-3 banner order-last order-md-first order-sm-first">
      <app-banner></app-banner>
    </div>
    <div class="col-md-6 col-sm-9 main-text">
      <div class="card text-center border-0">
        <div class="card-body">
          <section class="section-content">
            <h6 class="text-title">WEB DESIGN</h6>
            <p class="text-doc">Sites responsivos tornam as páginas da  web  renderizadas  em  uma variedade de dispositivos e tamanhos de janelas ou telas. Conteúdos focados no seu produto, idéia ou serviço, destacam diferenciais do seu negócio no mercado. SEO otimizados facilitam sua localização pelos sistemas de busca padrão.</p>
            <p class="text-doc">Movidos a bancos de dados, garantem interatividade e constante atualização em seu conteúdo. Isso significa que você tem uma página web que pega a informação de um banco de dados (ao qual está conectada por programação) e a insere em seu conteúdo a cada vez que é carregada.</p>
            <p class="text-doc">Formulários interativos para captação de dados online, validam as informações antes de chegar à sua base.
</p>
            <p class="text-doc">Adequamos imagens e textos para internet, proporcionando uma experiência única ao potencial cliente.</p><br>
            <h6 class="text-title">GESTÃO DE REDES SOCIAIS</h6>
            <p class="text-doc">O Perfil Digital constrói identificação de alto valor para os clientes.. e gera negócios!<br><br>Sua presença na web deve ser profissional e marcante, reiterando a missão da empresa e a qualidade de seu produto.<br><br>Exiba seus produtos ou serviços de forma inteligente e bem humorada, em textos concisos e imagens interessantes, fotos ou ilustrações.<br><br>Analistas de Redes Sociais otimizam seu desempenho na web, criando relevância ao seu conteúdo, através de páginas, blogs e produtos que informem seu público consumidor.</p>
                       <br>
            <h6 class="text-title">CAMPANHAS DE MARKETING DIGITAL</h6>
            <p class="text-doc">Sua marca, produto ou idéia: exiba aspectos novos ou inusitados, que agreguem valor e interesse do consumidor.,br><br>Banners na abertura do portal, janelas dinâmicas case sensitive destacam sua promoção. Compartilhamento de vídeos em espaços virtuais selecionados, em redes sociais e aplicativos.<br><br>Respeito ao potencial cliente: ter a informação disponível e facilmente acessível durante a  busca por determinado produto, é mais eficaz do que enviar dezenas de newsletters semanais ou email promocional.<br><br>Incentivamos a adesão das pessoas e o compartilhamento espontâneo, tratando a mensagem de forma objetiva. Mostramos ao cliente porque deve comprar de você e não do seu concorrente. </p>
             
            <br>            
            <h6 class="text-title">COMUNICAÇÃO VISUAL</h6>
            <p class="text-doc">Informar e mostrar o que diferencia sua marca das demais, de forma simples e objetiva, mas de impacto positivo:</p> - adesivos<br>- apresentações em flipbook<br>- banners<br>- cartões de visita impressos ou digitais<br>- eventos: sinalização interna, faixas indicativas, displays (de produtos ou serviços), backdrop bem localizado para fotos;<br>- festas temáticas<br>- folhetos impressos<br>- logotipos<br>- Móbiles: estruturas artísticas em movimento, uma experiência visual, boa opção para lojas<br>- personalização de frota
          </section>
        </div>
      </div>
    </div>
    <div class="col-md-3 banner_right order-last order-md-last order-sm-last">
      <app-banner-main></app-banner-main>
    </div>
  </div>
</div>
<app-info></app-info>
<app-footer></app-footer>