<app-header></app-header>
<app-menu></app-menu>
<app-search></app-search>
<div class="container main-content">
  <div class="row">
    <div class="col-md-2 col-sm-3 banner">
      <app-banner></app-banner>
    </div>
    <div class="col-md-8 col-sm-9 main-text">
      <div class="card text-center border-0">
        <div class="card-body">
          <section class="section-content">
            <h6 class="text-title">QUEM SOMOS</h6>
            <p class="text-doc">Profissionais da Tecnologia da Informação: administradores, desenvolvedores, especialistas em internet,
              pensando em eficácia e comunicação não invasiva.</p><br>
            <h6 class="text-title">NOSSA MISSÃO</h6>
            <p class="text-doc">Idealizamos uma busca eficaz, que respeite o tempo do cliente com respostas rápidas, sem a
              necessidade de instalação de
              mais um app.</p>
            <p class="text-doc">
              Surge o portal Belenzinho SP com a proposta de informar ao público a
              localização de empresas, comércio em geral e prestadores de serviço
              autônomo domiciliados no bairro, ou com forte vínculo e sólido status
              no Belenzinho, com máxima cobertura de seus pontos. </p>
            <p class="text-doc">
              Intentamos, ainda, informar sobre ações e eventos de interesse do
              bairro, sua história, seus atores, fortalecendo as relações entre seus
              habitantes.</p>
            <p class="text-doc">
              Acreditamos em relações transparentes e de respeito mútuo, especialmente com nossos clientes e
              anunciantes, baseados na máxima: </p>
            <p class="font-mention">"No bom
              negócio, todos ganham!"</p>
          </section>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-sm-3 banner_right">
      <app-banner-main></app-banner-main>
    </div>
  </div>
  </div>
  <app-info></app-info>
  <app-footer></app-footer>