<app-header></app-header>
<app-menu></app-menu>
<app-search></app-search>
<div class="container main-content">
  <div class="row">
    <div class="col-md-3 banner">
      <app-banner></app-banner>
    </div>
    <div class="col-md-6 main-text">
      <div class="card text-center border-0">
        <div class="card-body">
          <table style="text-align: left; width: 80%; margin-left: auto; margin-right: auto;" border="0" cellpadding="2"
            cellspacing="2">
            <tbody>
              <tr style="font-family: Verdana;">
                <td style="vertical-align: top;"><small><span style="font-weight: bold;">QUEM SOMOS</span><br>
                  </small></td>
              </tr>
              <tr style="font-family: Verdana;">
                <td style="vertical-align: top;">
                  <div style="text-align: justify;"><small>Profissionais
                      da Tecnologia da Informação: administradores, desenvolvedores,
                      especialistas em internet, pensando em eficácia e comunicação não
                      invasiva. &nbsp; </small><br>
                    <small>
                    </small><br>
                    <small>
                      <span style="font-weight: bold;">NOSSA MISSÃO</span></small><br>
                    <small>
                    </small><br>
                    <small>
                      Idealizamos uma busca eficaz, que respeite o tempo do cliente com respostas rápidas, sem a
                      necessidade de instalação de
                      mais um app.</small><br>
                    <small>
                    </small><br>
                    <small>
                      Surge o portal Belenzinho SP com a proposta de informar ao público a
                      localização de empresas, comércio em geral e prestadores de serviço
                      autônomo domiciliados no bairro, ou com forte vínculo e sólido status
                      no Belenzinho, com máxima cobertura de seus pontos. </small><br>
                    <small>
                    </small><br>
                    <small>
                      Intentamos, ainda, informar sobre ações e eventos de interesse do
                      bairro, sua história, seus atores, fortalecendo as relações entre seus
                      habitantes.</small><br>
                    <small>
                    </small><br>
                    <small>
                      Acreditamos em relações transparentes e de respeito mútuo, especialmente com nossos clientes e
                      anunciantes, baseados na máxima: </small><br>
                  </div>
                  <small>
                    <br>
                    <span style="font-style: italic; font-weight: bold;"></span></small>
                  <div style="text-align: center;"><small><span style="font-style: italic; font-weight: bold;">"No bom
                        negócio, todos ganham!"</span></small><br>
                  </div>
                  <small><br>
                    <br>
                  </small>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-3 banner_right">
      <app-banner-main></app-banner-main>
    </div>
  </div>
  <app-info></app-info>
  <app-footer></app-footer>