<app-header></app-header>
<app-menu></app-menu>
<app-search></app-search>
<div class="container main-content">
  <div class="row">
    <div class="col-md-3 banner order-last order-md-first order-sm-first">
      <app-banner></app-banner>
    </div>
    <div class="col-md-6 main-text">
      <div class="card text-center border-0">
        <div class="card-body">          
          <div class="item-resultado" *ngFor="let item of itens | slice: pageSize | slice: 0:itemsPerPage">
            <div *ngIf="type === 'prestadorservico';else empresa">
                <app-item-prestador nome={{item.nome}} endereco={{item.endereco}} celular={{item.celular}} url={{item.url}} redesocial={{item.redeSocial}}></app-item-prestador>
            </div>
            <ng-template #empresa>
                <app-item nome={{item.nome}} nomeFantasia={{item.nomeFantasia}} endereco={{item.endereco}} telefone={{item.telefone}} horarioAbertura={{item.horarioAbertura}}
              horarioFechamento={{item.horarioFechamento}} url={{item.url}} redesocial={{item.redeSocial}}></app-item>
            </ng-template>            
          </div>
          <p *ngIf="mensagem;else pagination" class="alert alert-info">{{mensagem}}</p>          
          <ng-template #pagination>
            <ngb-pagination class="d-flex justify-content-center" [collectionSize]="itens.length" #numPages [pageSize]="itemsPerPage" [(page)]="currentPage" (pageChange)="onPageChange(currentPage)"></ngb-pagination>
          </ng-template>          
        </div>
      </div>
    </div>
    <div class="col-md-3 banner_right order-last order-md-last order-sm-last">
      <app-banner-main></app-banner-main>
    </div>
  </div>
</div>
<app-info></app-info>
<app-footer></app-footer>