<nav class="navbar navbar-expand-md navbar-dark bg-info w-100">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"    data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-center justify-content-between" id="navbar2SupportedContent">
      <ul class="navbar-nav w-100 text-center">            
        <li class="nav-item active w-100 text-uppercase"> <a class="nav-link" routerLink="#">Início<span class="sr-only">(current)</span></a> </li>
        <li class="nav-item w-100 text-uppercase"><a class="nav-link" routerLink="/faleConosco">Fale conosco</a></li>
        <li class="nav-item w-100 text-uppercase"><a class="nav-link" routerLink="/anuncieAqui">Anuncie aqui</a></li>
        <li class="nav-item w-100 text-uppercase"><a class="nav-link" routerLink="/prestador">Cadastro de Autônomos</a></li>
        <li class="nav-item w-100 text-uppercase"><a class="nav-link" routerLink="/quemSomos">Quem somos</a></li>
        <li class="nav-item w-100 text-uppercase"><a class="nav-link" routerLink="/servicos">Serviços<br></a></li>
      </ul>
    </div>
  </div>
</nav>
