<div class="bg-info" style="display:none">
  <div class="container">
    <div class="row">
      <div class="col-md-3 align-self-center">
        <h4 class="text-center font-info text-uppercase">Gestão de Redes Sociais</h4>
        <p class="font-text">Perfil Digital</p>
        <p class="font-text">Vídeos promocionais</p>
      </div>
      <div class="col-md-3 align-self-center">
        <h4 class="text-center font-info text-uppercase">Comunicação Digital</h4>
        <p class="font-text">Eventos, Festas</p>
        <p class="font-text">Personalização da Frota</p>
      </div>
      <div class="col-md-3 align-self-center">
        <h4 class="text-center font-info text-uppercase">Webdesign</h4>
        <p class="font-text">Sites dinâmicos</p>
        <p class="font-text">Banco de Dados</p>
      </div>
      <div class="col-md-3 align-self-center">
        <h4 class="text-center font-info text-uppercase">Mapa do Site</h4>
        <p class="font-text">Site Map</p>
        <p class="font-text">&nbsp;</p>
      </div>
    </div>
  </div>
</div>