<app-header></app-header>
<app-menu></app-menu>
<app-search></app-search>
<div class="container main-content">
  <div class="row">
    <div class="col-md-3 banner order-last order-md-first order-sm-first">
      <app-banner></app-banner>
    </div>
    <div class="col-md-6 main-text">
      <div class="card text-center border-0">
        <div class="card-body">
          <p class="card-text text-center title">BELENZINHO GANHA PORTAL DE BUSCA INÉDITO!
          </p>
          <p class="card-text text-left text">Com cobertura máxima de pontos de
            comércio, serviços e empresas em geral, oferece também um sistema de
            busca de Prestadores de Serviço do próprio bairro. O portal é dinâmico
            e se pode consultá-lo a partir de celulares comuns, sem instalação de
            mais um app.
          </p>
          <p class="card-text text-center title">eMARKETING NÃO INVASIVO</p>
          <p class="card-text text-left text">Acreditamos numa nova forma de abordar o
            cliente, sem invadir emails, telefones e redes sociais. O marketing
            amigável, que exibe seu melhor produto nos locais onde clientes
            potenciais frequentam, é a melhor forma de mostrar seu produto ou
            serviço. Vamos juntos construir um ótimo perfil digital.</p>
            <p class="card-text text-center title">ARTISTAS E ARTESÃOS DO BELENZINHO</p>
            <p class="card-text text-left text">Veja quanta beleza é produzida aqui
              mesmo, no nosso bairro. Pintores de telas, estilistas de roupas,
              restauradores de móveis antigos.. todos produzem arte digna de
              exibirmos em nossas casas. A beleza traz paz e harmonia.. conheça
              nossos artistas e suas peças.<br>
            </p>                
          </div>
        </div>
      </div>
      <div class="col-md-3 banner_right order-last order-md-last order-sm-last">         
        <app-banner-main></app-banner-main>
      </div>
    </div>
  </div>  
  <app-info></app-info>
  <app-footer></app-footer>