<app-header></app-header>
<app-menu></app-menu>
<app-search></app-search>
<div class="container main-content">
  <div class="row">
    <div class="col-md-3 banner order-last order-md-first order-sm-first">
      <app-banner></app-banner>
    </div>
    <div class="col-md-6 main-text">
      <div class="card text-center border-0">
        <div class="card-body">
          <div *ngFor="let noticia of noticias">
            <p class="card-text text-center title">{{noticia.titulo}}
            </p>
            <p class="card-text text-left text">{{noticia.corpo}}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 banner_right order-last order-md-last order-sm-last">
      <app-banner-main></app-banner-main>
    </div>
  </div>
</div>
<app-info></app-info>
<app-footer></app-footer>