<div class="container search">
  <div class="row">
    <div class="col-sm-4">
      <form class="form-inline">
        <div class="input-group">
          <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Buscar por empresas" [value]="termEmpresa" (input)="termEmpresa = $event.target.value" (focus)="resetFocus()">
          <div class="input-group-append"><button class="btn btn-primary" type="button" (click)="consultarEmpresa()"><i class="fa fa-search"></i></button></div>
        </div>
      </form>
    </div>
    <div class="col-sm-4">
      <form class="form-inline">
        <div class="input-group">
          <select class="browser-default custom-select" name="tipoNegocio" id="tipoNegocio" [(ngModel)]="termTipoNegocio">
              <option value="" disabled selected>Tipo de Negócio</option>
              <option *ngFor="let tip of negocios" value="{{tip.value}}">{{tip.value}}</option>
          </select>
          <div class="input-group-append"><button class="btn btn-primary" type="button" (click)="consultarTipoNegocio()"><i class="fa fa-search"></i></button></div>
        </div>
      </form>
    </div>
    <div class="col-sm-4">
      <form class="form-inline">
        <div class="input-group">
            <select class="browser-default custom-select" name="atividadeProfissional" id="atividadeProfissional" [(ngModel)]="termPrestador">
                <option value="" disabled selected>Prestador de serviços</option>
                <option *ngFor="let ativ of atividades" value="{{ativ.value}}">{{ativ.value}}</option>
            </select>
           <div class="input-group-append"><button class="btn btn-primary" type="button" (click)="consultarPrestador()"><i class="fa fa-search"></i></button></div>
        </div>
      </form>
    </div>
  </div>
</div>