<div class="container search">
  <div class="row">
    <div class="col-sm-4">
      <form class="form-inline">
        <div class="input-group">
          <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Buscar por empresas" [value]="termEmpresa" (input)="termEmpresa = $event.target.value" (focus)="resetFocus()">
          <div class="input-group-append"><button class="btn btn-primary" type="button" (click)="consultarEmpresa()"><i class="fa fa-search"></i></button></div>
        </div>
      </form>
    </div>
    <div class="col-sm-4">
      <form class="form-inline">
        <div class="input-group">
          <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Tipo de negócio" [value]="termTipoNegocio" (input)="termTipoNegocio = $event.target.value" (focus)="resetFocus()">
          <div class="input-group-append"><button class="btn btn-primary" type="button" (click)="consultarTipoNegocio()"><i class="fa fa-search"></i></button></div>
        </div>
      </form>
    </div>
    <div class="col-sm-4">
      <form class="form-inline">
        <div class="input-group">
          <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Prestador de serviços" [value]="termPrestador" (input)="termPrestador = $event.target.value" (focus)="resetFocus()">
          <div class="input-group-append"><button class="btn btn-primary" type="button" (click)="consultarPrestador()"><i class="fa fa-search"></i></button></div>
        </div>
      </form>
    </div>
  </div>
</div>