<div class="container search">
  <div class="row">
    <div class="col-sm-4">
      <form class="form-inline">
        <div class="input-group">
          <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Buscar por empresas">
          <div class="input-group-append"><button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button></div>
        </div>
      </form>
    </div>
    <div class="col-sm-4">
      <form class="form-inline">
        <div class="input-group">
          <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Tipo de negócio">
          <div class="input-group-append"><button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button></div>
        </div>
      </form>
    </div>
    <div class="col-sm-4">
      <form class="form-inline">
        <div class="input-group">
          <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Prestador de serviços">
          <div class="input-group-append"><button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button></div>
        </div>
      </form>
    </div>
  </div>
</div>