<app-header></app-header>
<app-menu></app-menu>
<app-search></app-search>
<div class="container main-content">
    <div class="row">
        <div class="col-md-2 col-sm-3 banner">
            <app-banner></app-banner>
        </div>
        <div class="col-md-8 col-sm-9 main-text">
            <div class="card text-center border-0">
                <div class="card-body">
                    <section class="section-content">
                        <h6 class="text-title">Política de Segurança e Privacidade do Portal BELENZINHO SP</h6>
                        <p class="text-doc">A <span class="text-bold">M.Rodrigues TI Ltda</span>. proprietária
                            e administradora do <span class="text-bold">Portal Belenzinho SP</span>, no
                            intuito de
                            fornecer maior
                            segurança aos dados pessoais e instituicionais dos usuários do portal, declara
                            abaixo sua política de segurança e privacidade. Este texto poderá ser alterado,
                            acrescentando regras que surgem no curso do desenvolvimento natural da
                            internet, respeitando-se sempre a privacidade dos envolvidos.</p><br>
                        <h6 class="text-title">CAPTAÇÃO DE INFORMAÇÕES/IDENTIFICAÇÃO DO USUÁRIO</h6>
                        <p class="text-doc">Informações válidas ajudam a conhecer o internauta e
                            oferecer conteúdo relevante. É importante dizer que a <span class="text-bold">navegação
                                É livre</span>, pode-se navegar
                            no portal sem fornecer nenhum
                            dado sobre si mesmo. Não usamos cookies, não invadimos a privacidade de nossos
                            internautas.</p>
                        <p class="text-doc">O Portal BELENZINHO SP recebe informações dos internautas quando:</p>
                        <p class="text-doc">1) o usuário se cadastra para aparecer nos resultados de
                            busca e fornece email pessoal válido;</p>
                        <p class="text-doc">2) quando o usuário solicita ajuda ou informação sobre algum produto;</p>
                        <p class="text-doc">3) quando o usuário participa de: blog, rede social ou fórum;</p>
                        <p class="text-doc">Obs.: Ainda que se cadastre, o usuário tem direito a
                            solicitar a exclusão de seu email do mailing.</p><br>
                        <h6 class="text-title">PRIVACIDADE</h6>
                        <p class="text-doc">1) As informações pessoais são arquivadas sob sérios padrões
                            de segurança.</p>
                        <p class="text-doc">2) Segurança no tráfego de informações: processo de
                            criptografia padrão da Internet.</p>
                        <p class="text-doc">3) Nenhuma pessoa, empresa ou instituição poderá utilizar
                            estas informações, seja seu nome, email ou qualquer outra informação, uma vez
                            que <span style="font-weight: bold;">M Rodrigues TI</span> É detentora de sua autoria.</p>
                        <p class="text-doc">4) Todas as informações recebidas, não serão transferidas a
                            terceiros ou usadas para finalidade diversa das que se encontram anunciadas na
                            presente política. <br>
                            Excessões: determinação legal ou
                            judicial, ou, ainda, se houver autorização expressa do usuário.</p>
                        <p class="text-doc">5) Determinação Legal: divulgação de informações sobre o
                            usuário caso se faça necessária a identificação para contatar ou tomar medidas
                            judiciais ou extrajudiciais cabíveis, contra alguém que esteja causando
                            quaisquer tipos de danos ao portal, a outros usuários ou a qualquer pessoa que
                            seja prejudicada pelo uso indevido por terceiros do conteúdo de propriedade da <span class="text-bold">M
                                Rodrigues TI</span> e/ou de seus colaboradores.</p>
                        <p class="text-doc">6) Caso o usuário participe de promoções realizadas mediante
                            parceria do Portal Belenzinho SP com
                            terceiros, poderá ocorrer o compartilhamento de dados do usuário, durante a
                            coleta ou transferência de dados, o usuário será notificado do compartilhamento
                            e poderá optar por não completar a transferência.</p>
                        <p class="text-doc">7) Nas transações de eventos, promoções e ofertas de
                            produtos e/ou serviços anunciados no site, mas promovidos por parceiros do
                            <span class="text-bold">Portal Belenzinho SP</span>, ao clicar no
                            respectivo banner o usuário será encaminhado ao site do anunciante. Neste caso,
                            os dados pessoais porventura fornecidos são captados pela empresa anunciante e
                            estarão sob à política de privacidade e segurança destes.</p>
                        <p class="text-doc">8) Toda e qualquer mudança na presente Política de
                            Privacidade será comunicada através do portal Belenzinho SP.</p><br>
                        <h6 class="text-title">DEVERES DO USUÁRIO</h6>
                        <p class="text-doc">1) Todo o conteúdo do <span class="text-bold">Portal Belenzinho SP</span>,
                            composto de
                            textos, imagens, sons e/ou aplicativos, está protegido pela Lei de direitos
                            autorais. A publicação, distribuição, reprodução, cópia, ou qualquer outra
                            forma de utilização desse conteúdo, que extrapole a consulta individual para
                            fins exclusivamente pessoais, sem a expressa autorização do autor, configuram
                            violação aos direitos deste, na forma da Lei nº 9.610, de 19/02/1998 - Lei de
                            Direitos Autorais.</p>
                        <p class="text-doc">2) Compromete-se, ainda, o usuário a respeitar as leis
                            brasileiras na declaração de opiniões ou no trato com outros usuários.</p><br>
                        <h6 class="text-title">FÓRUM DE DISCUSSÕES</h6>
                        <p class="text-doc">1) O <span class="text-bold">Portal Belenzinho SP</span> deixa claro que as
                            opiniões
                            veiculadas no Fórum de Discussões não traduzem necessariamente a opinião do
                            site e são de inteira e exclusiva responsabilidade de seus autores, no
                            exercício de seu direito é opinião.</p>
                        <p class="text-doc">Ao participar do fórum o usuário deverá estar ciente de que
                            este local é aberto ao público e toda e qualquer informação ali publicada
                            estará disponível a qualquer pessoa que o acesse.</p>
                        <p class="text-doc">Assim sendo, o <span class="text-bold">Portal Belenzinho SP</span> sugere
                            ao usuário que
                            evite incluir informações pessoais, tais como o número de seu telefone ou o
                            endereço pessoal.</p>
                        <p class="text-doc">Problemas na página: fale conosco!</p>
                    </section>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 banner_right">
            <app-banner-main></app-banner-main>
        </div>
    </div>
</div>
<app-info></app-info>
<app-footer></app-footer>