<app-header></app-header>
<app-menu></app-menu>
<app-search></app-search>
<div class="container main-content">
  <div class="row">
    <div class="col-md-3 banner">
      <app-banner></app-banner>
    </div>
    <div class="col-md-6 main-text">
      <div class="card text-center border-0">
        <div class="card-body">
          <table style="text-align: left; width: 100%; margin-left: auto; margin-right: auto;" border="0" cellpadding="2"
            cellspacing="2">
            <tbody>
              <tr style="font-family: Verdana; text-align: right;">
                <td style="vertical-align: top;"><small><b style="font-weight: bold;">Política de Segurança e Privacidade do Portal BELENZINHO SP</b>
                  </small></td>
              </tr>
              <tr style="font-family: Verdana;" align="justify">                
                <td style="vertical-align: top;">
                  <p class="MsoNormal"><small>A <span style="font-weight: bold;">M.Rodrigues TI Ltda</span>. proprietária
                      e administradora do portal <span style="font-weight: bold;">Belenzinho SP</span>, no intuito de
                      fornecer maior
                      segurança aos dados pessoais e instituicionais dos usuários do portal, declara
                      abaixo sua política de segurança e privacidade. Este texto poderá ser alterado,
                      acrescentando regras que surgem no curso do desenvolvimento natural da
                      internet, respeitando-se sempre a privacidade dos envolvidos.</small></p>
                  <small>
                  </small>
                  <span style="font-weight: bold;">CAPTAÇÃO DE INFORMAÇÕES/IDENTIFICAÇÃO DO
                      USUÁRIO</span>
                  
                  <p class="MsoNormal"><small>Informações válidas ajudam a conhecer o internauta e
                      oferecer conteúdo relevante. É importante dizer que a <span style="font-weight: bold;">navegação É livre</span>, pode-se navegar
                      no portal sem fornecer nenhum
                      dado sobre si mesmo. Não usamos cookies, não invadimos a privacidade de nossos
                      internautas.</small></p>
                  <small>
                  </small>
                  <p class="MsoNormal"><small>O Portal BELENZINHO SP recebe informações dos internautas
                      quando:</small></p>
                  <small>
                  </small>
                  <p class="MsoNormal"><small>1) o usuário se cadastra para aparecer nos resultados de
                      busca e fornece email pessoal válido;</small></p>
                  <small>
                  </small>
                  <p class="MsoNormal"><small>2) quando o usuário solicita ajuda ou informação sobre algum
                      produto;</small></p>
                  <small>
                  </small>
                  <p class="MsoNormal"><small>3) quando o usuário participa de: <span>&nbsp;</span>blog, rede social ou
                      fórum;</small></p>
                  <small>
                  </small>
                  <p class="MsoNormal"><small><span></span>Obs.: <span>&nbsp;</span>Ainda que se cadastre, o usuário
                      tem direito a
                      solicitar a exclusão de seu email <span></span>do
                      mailing.</small></p>
                  <small>
                  </small>
                  <span style="font-weight: bold;">PRIVACIDADE</span>
                  <small>
                  </small>
                  <p class="MsoNormal"><small>1) As informações pessoais são arquivadas sob sérios padrões
                      de segurança.</small></p>
                  <small>
                  </small>
                  <p class="MsoNormal"><small>2) Segurança no tráfego de informações: <span>&nbsp;</span>processo de
                      criptografia padrão da Internet.</small></p>
                  <small>
                  </small>
                  <p class="MsoNormal"><small>3) Nenhuma pessoa, empresa ou instituição poderá utilizar
                      estas informações, seja seu nome, email ou qualquer outra informação, <span>&nbsp;</span>uma vez
                      que <span style="font-weight: bold;">M Rodrigues TI</span> É detentora de sua autoria.</small></p>
                  <small>
                  </small>
                  <p class="MsoNormal"><small>4) Todas as informações recebidas, não serão transferidas a
                      terceiros ou usadas para finalidade diversa das que se encontram anunciadas na
                      presente política. <br>
                      Excessões: <span>&nbsp;</span>determinação legal ou
                      judicial, ou, ainda, se houver autorização expressa do usuário.</small></p>
                  <small>
                  </small>
                  <p class="MsoNormal"><small>5) Determinação Legal: divulgação de informações sobre o
                      usuário caso se faça necessária a identificação para contatar ou tomar medidas
                      judiciais ou extrajudiciais cabíveis, contra alguém que esteja causando
                      quaisquer tipos de danos ao portal, a outros usuários ou a qualquer pessoa que
                      seja prejudicada pelo uso indevido por terceiros do conteúdo de propriedade da <span style="font-weight: bold;">M Rodrigues TI</span>
                      e/ou de seus
                      colaboradores.</small></p>
                  <small>

                  </small>
                  <p class="MsoNormal"><small>6) Caso o usuário participe de promoções realizadas mediante
                      parceria do Portal Belenzinho SP <span>&nbsp;</span>com
                      terceiros, poderá ocorrer o compartilhamento de dados do usuário, durante a
                      coleta ou transferência de dados, o usuário será notificado do compartilhamento
                      e poderá optar por não completar a transferência.</small></p>
                  <small>
                  </small><small>
                  </small>
                  <p class="MsoNormal"><small>7) Nas transações de eventos, promoções e ofertas de
                      produtos e/ou serviços anunciados no site, mas promovidos por parceiros do <span style="font-weight: bold;">Portal Belenzinho
                        SP</span>, ao clicar no
                      respectivo banner o usuário será encaminhado ao site do anunciante. Neste caso,
                      os dados pessoais porventura fornecidos são captados pela empresa anunciante e
                      estarão sob à política de privacidade e segurança destes. </small></p>
                  <small>
                  </small>
                  <p class="MsoNormal"><small>8) Toda e qualquer mudança na presente Política de
                      Privacidade será comunicada através do portal Belenzinho SP.</small></p>
                  <small>
                  </small>
                  <span style="font-weight: bold;" class="MsoNormal">DEVERES DO USUÁRIO</span>
                  <small>
                  </small>
                  <p class="MsoNormal"><small>1) Todo o conteúdo do Portal Belenzinho SP, composto de
                      textos, imagens, sons e/ou aplicativos, está protegido pela Lei de direitos
                      autorais. A publicação, distribuição, reprodução, cópia, ou qualquer outra
                      forma de utilização desse conteúdo, que extrapole a consulta individual para
                      fins exclusivamente pessoais, sem a expressa autorização do autor, configuram
                      violação aos direitos deste, na forma da Lei nº 9.610, de 19/02/1998 - Lei de
                      Direitos Autorais. </small></p>
                  <small>

                  </small>
                  <p class="MsoNormal"><small>2) Compromete-se, ainda, o usuário a respeitar as leis
                      brasileiras na declaração de opiniões ou no trato com outros usuários.</small></p>
                  <small>

                  </small>
                  <span style="font-weight: bold;" class="MsoNormal">FÓRUM DE DISCUSSÕES</span>
                  <small>
                  </small>
                  <p class="MsoNormal"><small>1) O Portal Belenzinho SP deixa claro que as opiniões
                      veiculadas no Fórum de Discussões não traduzem necessariamente a opinião do
                      site e são de inteira e exclusiva responsabilidade de seus autores, no
                      exercício de seu direito é opinião.</small></p>
                  <small>

                  </small>
                  <p class="MsoNormal"><small>Ao participar do fórum o usuário deverá estar ciente de que
                      este local é aberto ao público e toda e qualquer informação ali publicada
                      estará disponível a qualquer pessoa que o acesse.</small></p>
                  <small>

                  </small>
                  <p class="MsoNormal"><small>Assim sendo, o Portal Belenzinho SP sugere ao usuário que
                      evite incluir informações pessoais, tais como o número de seu telefone ou o
                      endereço pessoal.</small></p>
                  <small>
                  </small><small>
                  </small>
                </td>
              </tr>
              <tr style="font-family: Verdana;">
                <td style="vertical-align: top;"><small>Problemas na página: fale conosco!</small></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-3 banner_right">
      <app-banner-main></app-banner-main>
    </div>
  </div>
  <app-info></app-info>
  <app-footer></app-footer>